<h1 class="jumbotron text-center bg-secondary text-light p-3">Population</h1>

<form [formGroup]="populationForm" (ngSubmit)="setPopulationForm()" class="row" novalidate>
  <div class="col-lg-4">
    <input type="text" class="form-control d-inline"
    [ngClass]="validationService.statusClass(populationForm.controls['min'])"
    formControlName="min" placeholder="Min" autofocus>
    <app-form-error class="invalid-feedback" [control]="populationForm.controls['min']"></app-form-error>
  </div>
  <div class="col-lg-4">
    <input type="text" class="form-control d-inline"
    [ngClass]="validationService.statusClass(populationForm.controls['max'])"
    formControlName="max" placeholder="Max" autofocus>
    <app-form-error class="invalid-feedback" [control]="populationForm.controls['max']"></app-form-error>
  </div>
  <div class="col-lg-4">
    <button type="submit" class="btn btn-success text-light w-100">Submit</button>
  </div>
</form>

<div *ngIf="countries.length" class="mt-5">
  <app-countries [countries]="countries"></app-countries>
</div>

<app-no-result [isNoResult]="errorCountries"></app-no-result>
